/* Supprimez cette ligne si vous utilisez Tailwind via Vite ou PostCSS config */

@import "tailwindcss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Si vous utilisez Tailwind via PostCSS ou Vite, les imports doivent être dans un autre fichier comme `main.css` ou `app.css` : */
/* @tailwind base;
@tailwind components; */
@tailwind utilities; 

